<!--<div class="container">-->
<script src="post.component.ts"></script>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6 col-md-offset-3">
        <div *ngIf="post">
          <!-- Title -->
          <header>
            <h1>
              <a [routerLink]="['/post', post.id]">
                <strong>{{post.title}}</strong>
              </a>
            </h1>


            <h4>
              <a [routerLink]="['/profile', post.userId]">
                <img class=“user-avatar”  [src]='post.userProfileImage' [title]='post.username' >

                <strong>{{post.username}}</strong>
              </a>
            </h4>


          </header>

          <div>
            <a>
              <img [src]="post.postImage" [title]="post.title"
                   class="img-responsive img-post">
            </a>
          </div>
          <!-- Spacing -->
          <div>
            <p></p>
          </div>
          <!-- Upvote, Downvote, Comment -->

     <!--     <div class="content-spacing"></div>
        </div>-->

        <div class="jumbotron">
          <h2>Description: </h2>
          {{post.description}}


        </div>


          <!--post-->

          <div class="container" *ngIf="post" [ngClass]="{'is-active': post.isActivePost}">
            <p>

              <a *ngIf="post.isActivePost" class="mr-10">{{post.upvotesCount + 1}} · upvotes</a>
              <a *ngIf="!post.isActivePost" class="mr-10">{{post.upvotesCount}} · upvotes</a>
              <a *ngIf="post.isActiveComment" class="mr-10">{{post.commentsCount + 1}} · comments</a>
              <a *ngIf="!post.isActiveComment" class="mr-10">{{post.commentsCount}} · comments</a>
              <a *ngIf="currentUser && currentUser.authorities[0].authority == 'ROLE_ADMIN'">{{post.reportsCount}}
                ·
                reports</a>
            </p>
            <div class="buttons">
              <ul>
                <li class="mr-10">
              <a *ngIf="!(isLoggedIn )" class="right glyphicon-position"
                 title="You have to be logged in to be able to upvote.">
                <span class="glyphicon glyphicon-arrow-up glyphicon-not-logged"></span>
              </a>
                </li>
                <li class="mr-10">
              <a *ngIf="(isLoggedIn ) && !post.upvotedPostByCurrentUser && !post.isActivePost" class="right glyphicon-position"
                 (click)="post.isActivePost = !post.isActivePost; upvotePost(post.id)"
                 title="Click here to upvote this post.">
                <span class="glyphicon glyphicon-arrow-up glyphicon-custom"></span>
              </a>

                </li>
                <li class="mr-10">
              <a *ngIf="post.upvotedPostByCurrentUser || post.isActivePost" class="right glyphicon-position"
                 title="You have already upvoted this post.">
                <span class="glyphicon glyphicon-arrow-up glyphicon-custom upvoted"></span>
              </a>

                </li>
                <li class="mr-10">
              <a *ngIf="(isLoggedIn ) && !post.isActiveRemove && currentUser.authorities[0].authority == 'ROLE_ADMIN'"
                 class="right glyphicon-position mr-10"
                 (click)="post.isActiveRemove = !post.isActiveRemove; removePost(post.id)"
                 title="Click here to remove this post.">
                <span class=" glyphicon glyphicon-remove glyphicon-custom"></span>
              </a>
                </li>
                <li class="mr-10">
              <a *ngIf="currentUser && post.isActiveRemove && currentUser.authorities[0].authority == 'ROLE_ADMIN'"
                 class="right glyphicon-position mr-10"
                 title="You have already removed this post.">
                <span class="glyphicon glyphicon-remove glyphicon-custom upvoted"></span>
              </a>
                </li>
                <li class="mr-10">

              <a *ngIf="currentUser && !post.reportedPostByCurrentUser  && !post.isActiveReport && currentUser.authorities[0].authority == 'ROLE_USER'"
                 class="right glyphicon-position mr-10"
                 (click)="post.isActiveReport = !post.isActiveReport; reportPost(post.id)"
                 title="Click here to report this post.">
                <span class=" glyphicon glyphicon-exclamation-sign glyphicon-custom"></span>
              </a>
                </li>
                <li class="mr-10">
              <a *ngIf="currentUser && (post.isActiveReport || post.reportedPostByCurrentUser) && currentUser.authorities[0].authority == 'ROLE_USER'"

                 class="right glyphicon-position mr-10"
                 title="You have already reported this post.">
                <span class="glyphicon glyphicon-exclamation-sign glyphicon-custom upvoted"></span>
              </a>
                </li>

              </ul>
            </div>
              <!--<span class=" glyphicon glyphicon-arrow-up glyphicon-custom"></span>-->

          </div>
          <div class="row">
            <div class="widget-area no-padding blank">
              <div class="status-upload">

                <form>
                                <textarea [(ngModel)]="commentText" name="comment"
                                          placeholder="Make this post even cooler!">
                                </textarea>
                  <button [disabled]="loading" (click)="addComment(post.id); clearText()"
                          type="button" title="Click here to comment on this post."
                          class="btn btn-success green">
                    Submit
                  </button>
                </form>
              </div><!-- Status Upload  -->
            </div><!-- Widget Area -->
          </div>

        </div>
<!--Svi komentari-->
          <div *ngIf="comments" infiniteScroll
               [infiniteScrollDistance]="2"
               [infiniteScrollUpDistance]="1.5"
               [infiniteScrollThrottle]="300"
               (scrolled)="onScrollDown()"
               [ngClass]="{'is-active': true}">
            <div class="row">
              <div class="comments-container">
                <ul id="comments-list" class="comments-list" *ngFor="let comment of comments">
                  <!--[ngClass]="{'is-active': [comment.isActive, comment.isActiveReport, comment.isActiveRemove]}"-->

                <li>
                  <div class="comment-main-level">
                    <div class="comment-avatar">

                      <img [src]='comment.userProfileImage' [title]='comment.username' [routerLink]="['/profile', comment.userId]">

                    </div>
                    <div class="comment-box">
                      <div class="comment-head">
                        <h6 class="comment-name">
                          <a [routerLink]="['/profile', comment.userId]">
                            {{comment.username}}
                          </a>
                        </h6>
                        <div>
                          <a *ngIf="!(isLoggedIn )" class="right glyphicon-position"
                             title="You have to be logged in to be able to upvote.">
                            <span class="glyphicon glyphicon-arrow-up glyphicon-not-logged"></span>
                          </a>
                          <div *ngIf="(isLoggedIn ) && currentUser">
                          <a *ngIf="comment.upvotedCommentByCurrentUser || comment.isActive"
                             class="right glyphicon-position"
                             title="You have already upvoted this comment.">
                            <span class="glyphicon glyphicon-arrow-up glyphicon-custom upvoted"></span>
                          </a>
                          <a *ngIf="!comment.upvotedCommentByCurrentUser && !comment.isActive"
                             class="right glyphicon-position"
                             title="Click here to upvote this comment."
                             (click)="comment.isActive = !comment.isActive; upvoteComment(comment.id)">
                            <span class="glyphicon glyphicon-arrow-up glyphicon-custom"></span>
                          </a>
                        </div>
                        </div>

                          <div *ngIf="(isLoggedIn ) && currentUser">
                            <a *ngIf="!comment.isActiveRemove && currentUser.authorities[0].authority == 'ROLE_ADMIN'"
                               class="right glyphicon-position mr-10"
                               (click)="comment.isActiveRemove = !comment.isActiveRemove; removeComment(comment.id)"
                               title="Click here to remove this post.">
                              <span class=" glyphicon glyphicon-remove glyphicon-custom"></span>
                            </a>
                            <a *ngIf="comment.isActiveRemove && currentUser.authorities[0].authority == 'ROLE_ADMIN'"
                               class="right glyphicon-position mr-10"
                               title="You have already removed this post.">
                              <span class="glyphicon glyphicon-remove glyphicon-custom upvoted"></span>
                            </a>
                          </div>

                          <div *ngIf="(isLoggedIn ) && currentUser">
                            <a *ngIf="!comment.reportedCommentByCurrentUser && !comment.isActiveReport && currentUser.authorities[0].authority == 'ROLE_USER'"
                               class="right glyphicon-position mr-10"
                               (click)="comment.isActiveReport = !comment.isActiveReport; reportComment(comment.id)"
                               title="Click here to report this post.">
                              <span class=" glyphicon glyphicon-exclamation-sign glyphicon-custom"></span>
                            </a>
                            <a *ngIf="(comment.isActiveReport || comment.reportedCommentByCurrentUser) && currentUser.authorities[0].authority == 'ROLE_USER'"
                               class="right glyphicon-position mr-10"
                               title="You have already reported this post.">
                              <span class="glyphicon glyphicon-exclamation-sign glyphicon-custom upvoted"></span>
                            </a>
                          </div>
                          <span *ngIf="(isLoggedIn ) && currentUser.authorities[0].authority == 'ROLE_ADMIN' && comment.reportsCount > 1"
                                class="date">{{comment.reportsCount}}
                                                    ·
                                                    reports</span>
                          <span class="date">{{comment.createdDate | date}}</span>
                          <span *ngIf="comment.isActive" class="date">{{comment.upvotesCount + 1}} · upvotes</span>
                          <span *ngIf="!comment.isActive" class="date">{{comment.upvotesCount}} · upvotes</span>
                        </div>
                        <div class="comment-content">
                          {{comment.description}}
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<!--</div>-->
