<!--
<div class="container" >&lt;!&ndash;*ngIf="username"&ndash;&gt;
  <div class="col-lg-12 col-sm-12">
    <div class="card hovercard">
      <div class="card-background"></div>
      <div class="useravatar">
        <img
          src="../../assets/images/profile.jpg"> &lt;!&ndash;username.postImage&ndash;&gt;
      </div>
      <div class="card-info"><span class="card-title">{{username.username}}</span>
      </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" id="stars" class="btn btn-default" href="#tab1" data-toggle="tab"><span
          class="glyphicon glyphicon-picture glyphicon-custom" aria-hidden="true"></span>
          <div class="hidden-xs">Posts</div>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span
          class="glyphicon glyphicon-heart glyphicon-custom" aria-hidden="true"></span>
          <div class="hidden-xs">Upvotes</div>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span
          class="glyphicon glyphicon-comment glyphicon-custom" aria-hidden="true"></span>
          <div class="hidden-xs">Comments</div>
        </button>
      </div>
    </div>

    <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <div *ngIf="posts" class="shrink content-spacing">
            <div *ngFor="let post of posts">
              &lt;!&ndash; Title &ndash;&gt;
              <header>
                <h2>
                  <a [routerLink]="['/post', post.id]">
                    <strong>{{post.title}}</strong>
                  </a>
                </h2>
              </header>
              <p>
                <a [routerLink]="['/post', post.id]">{{post.upvotes}} · upvotes</a>
                &nbsp;&nbsp;&nbsp;
                <a [routerLink]="['/post', post.id]">{{post.comments}} · comments</a>
              </p>
              <div>
                <a [routerLink]="['/post', post.id]">
                  <img [src]="post.postImage" [title]="post.title"
                       class="img-responsive img-post">
                </a>
              </div>
              &lt;!&ndash; Spacing &ndash;&gt;
              <div>
                <p></p>
              </div>
              &lt;!&ndash; Upvote, Downvote, Comment &ndash;&gt;
              <div class="content-spacing"></div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade in" id="tab2">
          <div *ngIf="upvotedPosts" class="shrink content-spacing">
            <div *ngFor="let upvotedPost of upvotedPosts">
              &lt;!&ndash; Title &ndash;&gt;
              <header>
                <h2>
                  <a [routerLink]="['/post', upvotedPost.id]">
                    <strong>{{upvotedPost.title}}</strong>
                  </a>
                </h2>
              </header>
              <p>
                <a [routerLink]="['/post', upvotedPost.id]">{{upvotedPost.upvotes}} · upvotes</a>
                &nbsp;&nbsp;&nbsp;
                <a [routerLink]="['/post', upvotedPost.id]">{{upvotedPost.comments}} · comments</a>
              </p>
              <div>
                <a [routerLink]="['/post', upvotedPost.id]">
                  <img [src]="upvotedPost.postImage" [title]="upvotedPost.title"
                       class="img-responsive img-post">
                </a>
              </div>
              &lt;!&ndash; Spacing &ndash;&gt;
              <div>
                <p></p>
              </div>
              &lt;!&ndash; Upvote, Downvote, Comment &ndash;&gt;
              <div class="content-spacing"></div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade in" id="tab3">
          <div *ngIf="comments" class="shrink">
            <div class="row">
              <div class="comments-container">
                <ul id="comments-list" class="comments-list" *ngFor="let comment of comments">
                  <li>
                    <div class="comment-main-level">
                      <div class="comment-avatar">
                        <img
                          [src]='comment.avatar'
                          [title]='comment.username'
                          alt="">
                      </div>
                      <div class="comment-box">
                        <div class="comment-head">
                          <h6 class="comment-name">
                            on
                            <a [routerLink]="['/post', comment.post_id]">
                              {{comment.post}}
                            </a>
                          </h6>
                          &lt;!&ndash;<a *ngIf="upvoted" class="right glyphicon-position">&ndash;&gt;
                          &lt;!&ndash;<span class="glyphicon glyphicon-heart glyphicon-custom upvoted"></span>&ndash;&gt;
                          &lt;!&ndash;</a>&ndash;&gt;
                          &lt;!&ndash;<a class="right glyphicon-position" *ngIf="!upvoted"&ndash;&gt;
                          &lt;!&ndash;(click)="upvote()">&ndash;&gt;
                          &lt;!&ndash;<span class="glyphicon glyphicon-heart glyphicon-custom"></span>&ndash;&gt;
                          &lt;!&ndash;</a>&ndash;&gt;
                          <span class="date">{{comment.timestamp | date}}</span>
                        </div>
                        <div class="comment-content">
                          {{comment.text}}
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
-->

<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->

<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="../../assets/images/profile.jpg" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Marcus Doe
          </div>
          <div class="profile-usertitle-job">
            Developer
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
                <i class="glyphicon glyphicon-home"></i>
                Overview </a>
            </li>
            <!--surround with if username then show-->
            <li>
              <a href="#">
                <i class="glyphicon glyphicon-user"></i>
                Account Settings </a>
            </li>

            <li>
              <a href="#" target="_blank">
                <i class="glyphicon glyphicon-paste"></i>
                Posts </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="glyphicon glyphicon-heart"></i>
                Likes </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon glyphicon-comment"></i>
                Comments </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        Some user related content goes here...
      </div>
    </div>
  </div>
</div>
<br>
<br>
